/* Customizations over Bootstrap go here */

body {
  height: 100%;
  margin: 4px;
  /* Add a custom font here */
}

/* Tame the images! */
img {
  min-height: 100%;
  min-width: 100%;
}

/* Variables */
.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0px;
  background-color: #fff;
}
